<div class="flex w-full space-x-2 p-2 mb-10 relative overflow-x-hidden">
  <fa-icon class="absolute top-7 left-10" [icon]="fasearch"> </fa-icon>
  <input class="bg-gray-100  px-20 h-[62px] rounded-xl text-black placeholder-black md:w-[1024px] " type="text" name="" id=""
    placeholder="Search movie by title" (input)="findMovie($event)">
  <button class="w-[210px] h-[62px] text-[15px] rounded-md font-extrabold text-white bg-blue-600"> Search</button>
</div>
<div *ngFor="let movie of movies">
  <div class="flex p-5 justify-between items-center w-full h-[62px] bg-gray-200">
    <h1>{{movie.id}}</h1>
    <h1>{{movie.title}}</h1>
    <h1>{{movie.date}}</h1>
    <h1>Action</h1>
    <div class="flex space-x-8">
      <fa-icon [icon]="faEdit"></fa-icon>
      <fa-icon [icon]="fadelete"></fa-icon>
     </div>
  </div>
</div>