<div class="overflow-x-hidden">
    <h1 class="text-3xl p-2 font-bold">Edit New Movie</h1>
    <div class="flex flex-col w-6/12 space-y-3 mt-10">
      <input class="bg-gray-300 p-5 rounded-xl text-black placeholder-black" type="text" name="" id="" placeholder="Enter Movie Title ">
      <input class="bg-gray-300 p-5 rounded-xl text-black placeholder-black" type="text "placeholder="Release Year : DD/MM/YYYY">
      <input  class="bg-gray-300 p-5 rounded-xl text-black placeholder-black" type="text"placeholder="Category">
      <div class="flex w-full space-x-2">
        <button class="w-9/12 rounded-md text-3xl font-extrabold text-white bg-blue-600 p-5">Update</button>
        <button class="w-5/12 text-3xl rounded-md font-extrabold text-black bg-gray-400 p-5"> CANCEL</button>
      </div>
    </div>
  </div>